<p-dataList [value]="patientSets">
  <ng-template let-patientSet let-i="index" pTemplate="item">

    <div class="ui-grid ui-grid-responsive ui-fluid gb-patient-set-item"
         pDraggable="patient-set-drag-drop">

      <button type="button"
              class="btn btn-outline-danger btn-sm pull-right constraint-remove-btn"
              (click)="removePatientSet($event, i)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>

      <button type="button"
              class="btn btn-outline-info btn-sm pull-right constraint-remove-btn"
              (click)="modifyPatientSet($event, i)">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>


      <i class="fa fa-circle" aria-hidden="true"></i>
      {{patientSet.name}} ({{patientSet.setSize}})
    </div>

  </ng-template>
</p-dataList>
